@import "reset.css";

* {
box-sizing: border-box;
}

body {
  display: inline;
  font-family: 'Slabo 27px', serif;
}

.wrapper {
  display: flex;
}

h1 {
  color: magenta;
  height: 2rem;
  width: 100%;
  float: left;
  margin: 2.5rem 1rem 1.5rem 1rem;
  padding-right: 25%;
  font-size: xx-large;
  font-weight: 600;
  text-align: left;
  text-decoration-style: solid;
}

p {
  font-size:small;
  color:magenta;
  width: 100%;
  text-align: left;
  font-size: large;
  display: block; 
  margin: 0 1rem 0 1rem;
}

button {
  position: relative;
  text-align: center;
  border: .1rem solid magenta;
  background-color: powderblue;
  color: magenta;
  height: 3rem;
  width: 8rem;
  float: left;
  margin: 1rem 0 0 1rem;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Slabo 27px', serif;
  border-radius: 70px;
}

.buttons {
  height: 1rem;
  width: 1rem;
}

.section1 {
  display: flex;
  height: 100vh;
  width: 73%;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div {
  display: inline-flex;
  margin: 0;
  text-align: left;
  color: magenta;
}

.article0 {
  position: relative;
  display: inline-block;
  background-color: powderblue;
  height: 33.3%;
  width: 66.6%;
}

.article7 {
  display: inline-block;
  background-color: #e6e6fa;
  opacity: 50%;
  height: 33.3%;
  width: 33.3%;
}

.queen1 {
  background-image: url("detox.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article2 {
  display: inline-block;
  background-color: #ffe4e1;
  height: 33.3%;
  width: 33.3%;
}

.queen2 {
  background-image: url("violet.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article4 {
  display: inline-block;
  background-color: #ffff99;
  height: 33.3%;
  width: 33.3%;
}

.queen4 {  
  background-image: url("chad.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article1 {
  display: inline-block;
  background-color: #66ffcc;
  height: 33.3%;
  width: 33.3%;
}

.queen7 { 
  background-image: url("raja.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article5 {
  display: inline-block;
  background-color: #ccccff;
  height: 33.3%;
  width: 33.3%;
}

.queen5 {
  background-image: url("sasha.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article6 {
  display: inline-block;
  background-color: #ffcc99;
  height: 33.3%;
  width: 33.3%;
}

.queen6 {
  background-image: url("kimchi.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.article3 {
  display: inline-block;
  background-color: #cc99ff;
  height: 33.3%;
  width: 33.3%;
}

.queen3 {
  background-image: url("acid-betty.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 70px;
}

.queenBtn {
  margin: 11rem 4rem 0 0;
  background: transparent;
  font-size: large;
  text-decoration: overline;
  text-decoration-color: purple;
  border: none;
  width: 6rem;
  height: 6rem;
  color: magenta;

}

.iconQueens {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.section2 {
  display: inline;
  margin: 0;
  width: 16.9%;
  justify-content: center;
}

.scroll {
  position: absolute;
  height: .5rem;
  width: 2rem;
  object-position: top;
  z-index: 50;
}

.rupaul {
  margin: 0 0 0 4rem;
  height: 100%;
  z-index: -100;
  object-position: center;
}


/*-------------------------------*/

@media screen
  and (min-width: 500px)
  and (max-width: 900px) {

  body {
    float: top;
    display: inline-block;
    height: 100vh;
  }

  .wrapper {
    flex-direction: column;
  }

  .section1 {
    width: 100%
  }
 
  article {
    width: 50%;
  }

  .article0 {
    width: 100%
    justify-content: center;
  }

  h1 {
    width: 100%;
  }

  p {
    justify-content: center;
  }

  button {
    margin-bottom: 1rem;
  }

  .rupaul {
    display: block;
    object-position: bottom;
  }
}

/*-------------------------------*/

@media screen
  and (min-width: 75px)
  and (max-width: 499px) {

  body {
    float: top;
    display: inline-block;
    height: 100vh;
  }

  .wrapper {
    flex-direction: column;
  }

  .article0 {
    width: 100%;
    justify-content: center;
  }

  .article1 .article2 .article3 .article4 .article5 .article6 .article7 {
    width:50%;
  }

  h1 {
    width: 100%;
  }

  p {
    width: 100%
    justify-content: center;
  }

  button {
    width: 50%;
    margin-bottom: 1rem;
  }

  .rupaul {
    width: 100%;
    display: block;
    object-position: bottom;
  }
}
